<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> </title>
        <link rel="stylesheet" href="/styles/reset.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/layout.css">
        <link rel="stylesheet" href="/styles/modules.css">
    </head>
    <body>
        <h1> Hello World! </h1>
        <% results.forEach(book => { %>
            <img src = "<%= book.img_url %>">
            <p><%= book.title %></p>
            <p><%= book.author %></p>
            <p><%= book.description %></p>
          <% }) %>
    </body>
<html>