<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head') %>
    <body>
        <h1> Hello World! </h1>
        <% results.forEach(book => { %>
            
            <img src = "<%= book.img_url %>">
            <p><%= book.title %></p>
            <p><%= book.authors %></p>

            <form action="/books" method="POST">
                <fieldset>
                    <input type="hidden" name="title" placeholder="title name">
                
                    <button type="submit"> Save Book</button>
                </fieldset>
            </form>
          <% }) %>
    </body>
<html>